*{
	font-family: sans-serif;
}

html,body,div,a,span,p
{
	box-sizing: border-box;
}

[v-cloak]{
	display: none;
}

.container
{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.row
{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.fl
{
	float: left;
}

.fr
{
	float: right;
}

.col
{
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

.box
{
	float: left;
	padding: 15px;
}

.col-3
{
	width: 25%;
}

.col-4
{
	width: 33.3333%;
}

.col-6
{
	width: 50%;
}

.col-12
{
	width: 100%;
}

.text-center
{
	text-align: center;
}

.p-right
{
	padding-right: 0;
}

.p-left
{
	padding-left: 0;
}

.p-top
{
	padding-top: 0;
}

.p-bottom
{
	padding-bottom: 0;
}

.pos-r
{
	position: relative;
}

.bounce-enter-active {
	animation: bounce-in .5s;
}
@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

#tasarim .col
{
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	cursor: pointer;
	background: #f12d2dba;
	border-radius: 5px;
}

#tasarim .col:hover
{
	text-decoration: underline;
}

.sozlesme {
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999999
}

.sozlesme .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #00000045;
}

.sozlesme-detay {
	background: #ffffff;
	position: absolute;
	width: 50%;
	z-index: 2;
	padding: 30px 30px 10px 30px;
	border-radius: 5px;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sozlesme-detay .ortala
{
	display: flex;
	align-self: center;
	justify-content: center;
}

.sozlesme .kabul , .sozlesme .kapat {
	font-size: 12px;
	padding: 9px 15px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}

.sozlesme .kabul:hover, .sozlesme .kapat:hover {
	background: #f12d2dba;
	color: #ffffff;
}

.form-title {
	padding: 20px;
	background: #f12d2dba;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-title span {
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	white-space: nowrap;
}

.form-content input[type="text"]::placeholder, .form-content input[type="email"]::placeholder, .form-content input[type="tel"]::placeholder , .form-content textarea::placeholder {
	font-size: 12px;
	color: #bdb2b2;
}

.input-title
{
	font-size: 12px;
	font-weight: 500;
	padding-bottom: 5px;
	color: #000000;
}

.input-description
{
	font-size: 12px;
	font-weight: 500;
	color: #736c6c;
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	align-items: center;
	padding-top: 4px;
}

.icon-checked
{
	width: 10px;
	height: 10px;
	border-radius: 2px;
	float: left;
	box-sizing: border-box;
	border: 1px solid #c1b5b5;
	margin-right: 6px;
	margin-bottom: 1px;
	padding: 6px;
}

input[type="checkbox"]:checked + span
{
	background:url(../image/tick.svg) no-repeat center center;
}

.input-description strong
{
	text-decoration: underline;
	color: #000000;
	cursor: pointer;
}

.form-content {
	padding: 0 15px;
	border: 1px solid #cec5c5;
	position: relative;
}

.form-content input[type="text"] , .form-content input[type="email"]   , .form-content textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	border: 1px solid #cec5c5;
	border-radius: 4px;
	outline: none;
}

.form-content input[type="tel"] {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	border-radius: 4px;
	outline: none;
}

.form-content textarea {
	min-height: 90px;
	margin-bottom: 5px;
	resize: vertical;
}

.form-content .send
{
	border-radius: 5px;
	padding: 10px;
	background: #f56666;
	border: 1px solid #f56666;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	outline: none;
}

.form-content .send:hover {
	background: #ffffff;
	color: #f56666c9;
}

.input-description input {
	margin: 0 5px 0 0;
}

.icon-phone
{
	background: url(../image/phone.png) no-repeat left center;
	width: 24px;
	height: 24px;
	float: left;
}

input[name="telephone"] {
	border: 0;
	border-left: 1px solid #bbbbbb82;
}

.errorMessage {
	font-size: 12px;
	color: red;
	padding-bottom: 3px;
	float: left;
}

.errorSozlesme
{
	font-size: 10px;
	color: red;
	padding-top: 5px;
	float: left;
}

.form-content input.errorBorder , .form-content .vdp-datepicker.errorBorder input ,  .vue-tel-input.errorBorder{
	border: 1px solid red;
}

.vdp-datepicker__calendar
{
	width: 100% !important;
}

.success {
	background: #38ce13;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	color: #ffffff;
	position: absolute;
	bottom: calc(100% - 35px);
	left: 0;
}

.unsuccess {
	background: #f90000ba;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	color: #ffffff;
	position: absolute;
	bottom: calc(100% - 35px);
	left: 0;
}

.slide-fade-enter-active {
	transition: all 3s ease;
}
.slide-fade-leave-active {
	transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(100%);
	bottom: 0;
}

@media screen and (max-width: 1024px)
{
	.col-md-4
	{
		width: 33.33333%;
	}
}

@media screen and (max-width: 768px)
{
	.col-sm-6
	{
		width: 50%;
	}
}

@media screen and (max-width: 540px)
{
	.col-xs-12
	{
		width: 100%;
	}
}