<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="okul.com form sayfası">
	<meta name="author" content="Furkan SAHIN">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Okul.com</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	
	<script src="https://unpkg.com/vue-tel-input"></script>
	<script src="https://unpkg.com/vuejs-datepicker"></script>
	<script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/tr.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<div class="container" id="tasarim">
			<div class="row">
				<div class="col" v-if="!show" @click="show = !show">
					İletişime Geç
				</div>
			</div>
		</div>
		<transition name="bounce">
			<div class="container" v-if="show">
				<div class="row">
					<div class="col col-3 col-md-4 col-sm-6 col-xs-12">
						<div class="row">
							<div class="col col-12 form-title">
								<i class="icon-phone"></i>
								<span class="fl col text-center">Okul Hemen Sizi Arasın</span>
							</div>
							<div class="fl col-12 form-content">
								<div class="box col-12 p-left p-right p-bottom">
									<span v-show="isErrorName" class="errorMessage">Lütfen adınızı giriniz..</span>
									<span v-show="!isErrorName" class="fl col-12 input-title">Adınız :</span>					
									<input :class="{errorBorder : isErrorName}" type="text" name="name" v-model="name" placeholder="ör: Furkan ŞAHİN" @click="isErrorName = false;">
								</div>
								<div class="box col-12 p-left p-right p-bottom">
									<span v-show="isErrorMail" class="errorMessage">Lütfen emailinizi kontrol ediniz..</span>
									<span v-show="!isErrorMail" class="fl col-12 input-title">E-mail :</span>						
									<input :class="{errorBorder : isErrorMail}" type="email" name="email" v-model="email" placeholder="ör: furkan.sahin@okul.com" @click="isErrorMail = false;">
								</div>
								<div class="box col-12 p-left p-right p-bottom pos-r">
									<span v-show="isErrorDate" class="errorMessage">Lütfen tarih seçiniz..</span>
									<span v-show="!isErrorDate" class="fl col-12 input-title">Tarih :</span>							
									<vuejs-datepicker :class="{errorBorder : isErrorDate}" :language="tr" v-model="date" placeholder="ör: 03 Ara 2019"></vuejs-datepicker>
								</div>
								<div class="box col-12 p-left p-right p-bottom">
									<span v-show="isErrorPhone" class="fl col-12 errorMessage">Lütfen telefon numaranızı giriniz..</span>
									<span v-show="!isErrorPhone" class="fl col-12 input-title">Telefon :</span>						
									<vue-tel-input :class="{errorBorder : isErrorPhone}" @click="isErrorPhone = false;" v-model="phone" v-bind="bindProps"></vue-tel-input>
								</div>
								<div class="box col-12 p-left p-right p-bottom">
									<span class="fl col-12 input-title">Mesaj :</span>	
									<textarea class="fl col-12" v-model="message" placeholder="Mesajınızı giriniz.."></textarea>
								</div>
								<div class="box col-12 p-left p-right">
									<input class="fl col-12 send" type="button" name="send" value="İletişime Geç" @click="send">
								</div>
								<transition name="slide-fade">
									<div v-if="success" class="box col-12 success" :class="{active : success}">
										İşlem başarıyla gerçekleştirildi.
									</div>
								</transition>
							</div>
						</div>
					</div>
				</div>
			</div>
		</transition>
	</div>

	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>